.mainPage {
  display: block;
  position: relative;
  z-index: 0;
  height: 100%;
  transition: 0.3s;
}

.back {
  margin-left: -16px;
  margin-top: auto;
  margin-bottom: auto;
  width: 40px;
  font-size: 20px !important;
  background-color: rgba(0,0,0,0) !important;
  color: gray !important;
  border: 0px !important;
}

.back:hover{
  background-color: rgba(0,0,0,0);
  color: lightgray;
}

.back:focus{
  background-color: rgba(0,0,0,0) !important;
  color: lightgray !important;
}

.back:active{
  background-color: rgba(0,0,0,0) !important;
  color: lightgray !important;
}
