.postPreview {
  overflow: hidden;
}

.postPreview:hover .title{
  text-decoration: underline;
}

.postPreview .footer {
  margin-top: -20px;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
}

@media(max-width: 576px){
  .postPreview .title {
    font-size: calc(10px + 2vmin);
  }

  .postPreview .footer {
    font-size: calc(10px + 0.7vmin);
  }
}
