.semiPreview {
  margin: 5px 0px;
  transition: all 0.2s;
}

.cardHeader:hover {
  background-color: lightgray;
  transition: all 0.2s;
}

.cardHeader-outdated {
  background-color: lightgray !important;
  color: white;
}

.cardHeader-outdated:hover {
  background-color: gray !important;
  transition: all 0.2s;
}
