.Header {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%;
  vertical-align: middle;
  line-height: 5vh;
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
}

.Header .menu {
  vertical-align: middle;
  margin: 3px;
}

.Header .title {
  font-size: calc(10px + 1.0vmin);
}
