.header {
  border-radius: 5px;
  height: 50px;
  margin: 10px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.4);
}

.header .title {
  margin: 0 10px;
}

.header .menu {
  padding: 1px 10px 5px 10px;
}

@media(max-width: 575px){
  .header {
    height: 100px;
  }
  .header .title {
    width: 70px;
    word-wrap: break-word;
  }
}
